
.App {
  text-align: left;
  background-image: url('https://images.creativemarket.com/0.1.0/ps/4658270/1829/910/m1/fpnw/wm1/bright-red-curtain-with-bright-spotlight-lighting-retro-theater-stage-wide-background-.jpg?1529941466&s=3a1a039bd36f6beecc1fe40d6af665f5');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.App-logo {
  pointer-events: none;
  color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 16px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-content{  
  padding: 0 1rem;
}

* {
  color:whitesmoke;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
